.header {
  border-bottom: 1px solid #ececec;
  padding-top: 16px;
  padding-bottom: 16px;
  position: relative;
  .container {
    display: flex;
    align-items: center;
  }
}

.header__logo {
  @extend %logo-mobtab;
  color: $color-dark;
  margin-right: 93px;
  &--web {
    color: $accent-background-color;
  }
  @media screen and(min-width:768px) {
    .main-nav {
      display: flex;
    }
  }
}

.nav,
.address {
  display: none;
  @media screen and(min-width:768px) {
    display: inline-flex;
  }
}

@media screen and(min-width:768px) {
  .address {
    display: flex;
    flex-direction: column;
  }
}
.header__menu {
  margin-left: auto;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;

  &--icon {
    color: currentColor;
    &:hover {
      fill: $accent-background-color;
    }
  }
}

@media screen and(min-width:768px) {
  .header__menu--icon {
    display: none;
  }
}
