body {
  background-color: $main-background-color;
  font-family: $main-ff;
}
ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  // outline: 1px solid red;

  @media screen and (max-width: 767px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 748px;
  }

  @media screen and (min-width: 1200px) {
    width: 1170px;
  }
}
