$bacckground-color-dark: #2f303a;
$main-background-color: #ffffff;
$button-background-color: #f5f4fa;
$accent-background-color: #2196f3;
$color-dark: #212121;
$color-grey: #757575;
$color-white: #ffffff;
$icon-cur-color: #afb1b8;
$main-ff: Roboto, sans-serif;
$seconadary-ff: Raleway, sans-serif;
